

  <h1>Ship Design System</h1>
   <h2>Buttons</h2>
  <div class="flex flex-row gap-4 w-full mt-2">
    <!-- Primary Button -->
    <div class="flex flex-col gap-2">
      <label class="text-sm font-medium text-gray-700">Primary</label>
      <p-button label="View more" styleClass="p-button-primary"></p-button>
    </div>
    
    <!-- Secondary Button -->
    <div class="flex flex-col gap-2">
      <label class="text-sm font-medium text-gray-700">Secondary</label>
      <p-button label="View more" styleClass="p-button-secondary"></p-button>
    </div>  
    
    <!-- Danger Button -->
    <div class="flex flex-col gap-2">
      <label class="text-sm font-medium text-gray-700">Danger</label>
      <p-button label="View more" styleClass="p-button-danger"></p-button>
    </div>
    
    <!-- Outlined Danger Button -->
    <div class="flex flex-col gap-2">
      <label class="text-sm font-medium text-gray-700">Outlined</label>
      <p-button label="View more" styleClass="p-button-outlined p-button-danger"></p-button>
    </div>
    
    <!-- Text Button -->
    <div class="flex flex-col gap-2">
      <label class="text-sm font-medium text-gray-700">Ghost button</label>
      <p-button label="View more" styleClass="p-button-text custom-blue-text"></p-button>
    </div>
  </div>
  
  <h2 class="mt-4">Checkbox</h2>
  <div class="flex flex-row gap-4 w-full mt-2">
    <div class="flex flex-col gap-2">
      <div class="flex items-center">
        <p-checkbox inputId="ingredient1" name="pizza"value="Cheese"  styleClass="p-checkbox-primary"  [(ngModel)]="pizza" />
        <label for="ingredient1" class="ml-2"> Primary </label>
      </div>
    </div>
    <div class="flex flex-col gap-2">
      <div class="flex items-center">
        <p-checkbox inputId="ingredient1" name="pizza"value="Cheese"[(ngModel)]="pizza"  [disabled]="true"/>
        <label for="ingredient1" class="ml-2"> Disabled </label>
      </div>
    </div>
    <div class="flex flex-col gap-2">
      <div class="flex items-center">
        <p-checkbox inputId="ingredient1" name="pizza"value="Cheese"[(ngModel)]="pizza"  [binary]="true" class="ng-invalid ng-dirty"/>
        <label for="ingredient1" class="ml-2"> Invalid </label>
      </div>
    </div>
  </div>

  <h2 class="mt-4">Dropdown</h2>
  <div class="flex flex-row gap-4 w-1/4 mt-2">
    <p-select [options]="cities" [(ngModel)]="selectedCity" optionLabel="name" placeholder="Select a City" class="w-full md:w-56" />
  </div>
  
  <div class="flex flex-col gap-4 w-full mt-2">

    <div class="p-4 min-h-screen mt-9">
      <h1 class="text-xl font-bold mb-4">Reservation Cards</h1>
       <div class="space-y-4"> 
        <app-reservation-card
          *ngFor="let reservation of reservations"
          [name]="reservation.name"
          [unitNumber]="reservation.unitNumber"
          [towNumber]="reservation.towNumber"
          [vehicleType]="reservation.vehicleType"
          [tripType]="reservation.tripType"
          [customerType]="reservation.customerType"
          [hasPhone]="reservation.hasPhone"
          [hasFavorite]="reservation.hasFavorite"
          [hasWarning]="reservation.hasWarning"
          [accentColor]="reservation.accentColor"
          [assigned]="reservation.assigned"
        ></app-reservation-card>
      </div> 
      <div class="w-1/2 relative h-9 mt-2" >
       <h1>Empty reservation slot</h1>
        <div class="border border-gray-200 mt-2 rounded-lg shadow-sm w-full h-full overflow-hidden">
          <svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
            <pattern id="diagonalHatch1" patternUnits="userSpaceOnUse" width="8" height="8">
              <path d="M-2,2 l4,-4
                       M0,8 l8,-8
                       M6,10 l4,-4" 
                    style="stroke:#888; stroke-width:1.5" />
            </pattern>
            <rect width="100%" height="100%" fill="url(#diagonalHatch1)" />
          </svg>
        </div>
      </div>
      <div class="m-16">

      </div>
      <app-reservation-accordion />
    </div>
   </div>
  

