
<app-autocomplete 
[items]="sampleItems" 
(selected)="onItemSelected($event)"
placeholder="Search for items..."
></app-autocomplete>
  
  <h1>Ship Design System</h1>
   <h2>Buttons</h2>
  <div class="flex flex-row gap-4 w-full mt-2">
    <!-- Primary Button -->
    <div class="flex flex-col gap-2">
      <label class="text-sm font-medium text-gray-700">Primary</label>
      <p-button label="View more" styleClass="p-button-primary"></p-button>
    </div>
    
    <!-- Secondary Button -->
    <div class="flex flex-col gap-2">
      <label class="text-sm font-medium text-gray-700">Secondary</label>
      <p-button label="View more" styleClass="p-button-secondary"></p-button>
    </div>  
    
    <!-- Danger Button -->
    <div class="flex flex-col gap-2">
      <label class="text-sm font-medium text-gray-700">Danger</label>
      <p-button label="View more" styleClass="p-button-danger"></p-button>
    </div>
    
    <!-- Outlined Danger Button -->
    <div class="flex flex-col gap-2">
      <label class="text-sm font-medium text-gray-700">Outlined</label>
      <p-button label="View more" styleClass="p-button-outlined p-button-danger"></p-button>
    </div>
    
    <!-- Text Button -->
    <div class="flex flex-col gap-2">
      <label class="text-sm font-medium text-gray-700">Ghost button</label>
      <p-button label="View more" styleClass="p-button-text custom-blue-text"></p-button>
    </div>
  </div>
  
  <h2 class="mt-4">Checkbox</h2>
  <div class="flex flex-row gap-4 w-full mt-2">
    <div class="flex flex-col gap-2">
      <div class="flex items-center">
        <p-checkbox inputId="ingredient1" name="pizza"value="Cheese"  styleClass="p-checkbox-primary"  [(ngModel)]="pizza" />
        <label for="ingredient1" class="ml-2"> Primary </label>
      </div>
    </div>
    <div class="flex flex-col gap-2">
      <div class="flex items-center">
        <p-checkbox inputId="ingredient1" name="pizza"value="Cheese"[(ngModel)]="pizza"  [disabled]="true"/>
        <label for="ingredient1" class="ml-2"> Disabled </label>
      </div>
    </div>
    <div class="flex flex-col gap-2">
      <div class="flex items-center">
        <p-checkbox inputId="ingredient1" name="pizza"value="Cheese"[(ngModel)]="pizza"  [binary]="true" class="ng-invalid ng-dirty"/>
        <label for="ingredient1" class="ml-2"> Invalid </label>
      </div>
    </div>
  </div>

  <h2 class="mt-4">Dropdown</h2>
  <div class="flex flex-row gap-4 w-1/4 mt-2">
    <p-select [options]="cities" [(ngModel)]="selectedCity" optionLabel="name" placeholder="Select a City" class="w-full md:w-56" />
  </div>
  <!-- <h2 class="mt-4">
    Chip
  </h2> -->
  <!-- <div class="card flex items-center gap-2 flex-wrap">
    <p-chip label="Action" />
    <p-chip label="Comedy" />
    <p-chip label="Mystery" />
    <p-chip label="Thriller" [removable]="true" />
</div> -->
<h2 class="mt-4">
      Tabs 
</h2>
<div class="mt-4">
  <p-tabView class="custom-tabs">
    <p-tabPanel header="Header I" class="tabTitle">
      <p class="m-0">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
        ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
        nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
        anim id est laborum.
      </p>
    </p-tabPanel>
    <p-tabPanel header="Header II" class="tabTitle">
      <p class="m-0">
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
        aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
        Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
        dolores eos qui ratione voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius
        modi.
      </p>
    </p-tabPanel>
    <p-tabPanel header="Header III" class="tabTitle">
      <p class="m-0">
        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
        atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique
        sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum
        facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil
        impedit quo minus.
      </p>
    </p-tabPanel>
  </p-tabView>
</div>
  
  <div class="flex flex-col gap-4 w-full mt-2">

    <div class="p-4 min-h-screen mt-9 gap-2">
      <h1 class="text-xl font-bold mb-4">Reservation Cards</h1>
       <div class="space-y-4"> 
        <app-reservation-card
          *ngFor="let reservation of reservations"
          [name]="reservation.name"
          [unitNumber]="reservation.unitNumber"
          [towNumber]="reservation.towNumber"
          [vehicleType]="reservation.vehicleType"
          [tripType]="reservation.tripType"
          [customerType]="reservation.customerType"
          [hasPhone]="reservation.hasPhone"
          [hasFavorite]="reservation.hasFavorite"
          [hasWarning]="reservation.hasWarning"
          [accentColor]="reservation.accentColor"
          [assigned]="reservation.assigned"
        ></app-reservation-card>
      </div> 
      <div class="w-1/2 relative h-9 mt-2" >
       <h1>Empty reservation slot</h1>
        <div class="border border-gray-200 mt-2 rounded-lg shadow-sm w-full h-full overflow-hidden">
          <svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
            <pattern id="diagonalHatch1" patternUnits="userSpaceOnUse" width="8" height="8">
              <path d="M-2,2 l4,-4
                       M0,8 l8,-8
                       M6,10 l4,-4" 
                    style="stroke:#888; stroke-width:1.5" />
            </pattern>
            <rect width="100%" height="100%" fill="url(#diagonalHatch1)" />
          </svg>
        </div>
      </div>
      <div class="w-1/2 relative h-9 mt-14" >
        <h1>Chip</h1>
         <!-- Basic Chips -->
      <section class="mb-8">
        <app-enhanced-chip-list 
          [chips]="basicChips" 
          (chipRemoved)="removeChip($event)"
          (chipClicked)="toggleChip($event)">
        </app-enhanced-chip-list>
      </section>
      <section class="mb-8">
        <app-enhanced-chip-list 
          [chips]="variantChips" 
          (chipRemoved)="removeChip($event)"
          (chipClicked)="toggleChip($event)">
        </app-enhanced-chip-list>
      </section>
      
       </div>
       <div class="mt-40">
        <h1>Unit Cards</h1>
        <div class="flex flex-col gap-2">
          <app-unit-card [data]="availableUnit"></app-unit-card>
      
          <app-unit-card [data]="dueInUnit"></app-unit-card>
          
          <app-unit-card [data]="readyLineUnit"></app-unit-card>
        </div>
    
       </div>

      <div class="m-64">
   <!-- <app-reservation-accordion /> -->
      </div>
   
    </div>
   </div>
  

